*_diagnostics
*.fmu
*_log.txt
*_result.txt
*.pyc
*.jmu
*.fmux
*.log
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
HeatRecoveryOptim.mop
OCTTutorial
OfflineOptimSolution.py
hrsg
hrsg_guess.txt
siem_ccpp.mop
siem_ccpp_init.txt
test_siem_ccpp.py

